.text-wrapper {
  display: flex;
  flex: 1;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
